{% load nvd3_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Chart</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <style>
        #{{ chart.chartcontainer }} {
            width: 600px;
            height: 400px;
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <h2>Sample Bar Chart</h2>
    <div id="{{ chart.chartcontainer }}"></div>

    <script type="text/javascript">
        // Confirm that JavaScript is executing
        console.log("Attempting to load chart...");
        
        // Render chart
        {{ chart.js_include|safe }}
        {{ chart.js_load|safe }}

        console.log("Chart should now be loaded.");
    </script>
</body>
</html>
