<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 Chart</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <h1>Sample D3 Chart</h1>
    <div id="chart-container"></div>

    <script>
        // Access the data passed from Django
        const data = {{ chart_data|safe }};  // 'safe' allows Django to insert the list without escaping

        const width = 500;
        const height = 300;

        const svg = d3.select("#chart-container")
                      .append("svg")
                      .attr("width", width)
                      .attr("height", height);

        svg.selectAll("rect")
           .data(data)
           .enter()
           .append("rect")
           .attr("x", (d, i) => i * 30)
           .attr("y", d => height - d)
           .attr("width", 25)
           .attr("height", d => d)
           .attr("fill", "steelblue");
    </script>
</body>
</html>
